<!-- para incluir o header -->
<%- include("../partials/header"); %>

	<main class="container-md">
		<section class="container-lg mt-5 mb-5">
			<section class="row mt-5 mb-5">
				<section class="col-md-5 mr-auto ml-auto">
					<img src="images/frutas1.jfif" alt="jogos de tabuleiro" class="img-fluid bannersFinais img-thumbnail">
				</section>
				<section class="col-md-6 mr-auto" id="anuncio_app">
					<h1>
						PALLIN FRUTAS
					</h1>
					<p>
						Já pensou em receber em casa somente as frutas, legumes e verduras da melhor qualidade possível? Aqui com a Pallin Frutas você pode!
					</p>
					<p class="text-justify">
						Trabalhamos apenas com produtos selecionados, garatindo sabor e experiência única a cada refeição, experimente já!
					</p>
				</section>
			</section>

			<section class="row mt-5 mb-5">
				<section class="col-md-6 mr-auto ml-auto" id="anuncio_app">
					<p>
						Veja o que você pode comprar conosco:
					<ul>
						<li>
							Frutas;
						</li>
						<li>
							Verduras;
						</li>
						<li>
							Legumes.
						</li>
					</ul>
					</p>
				</section>
				<section class="col-md-5 ml-auto">
					<img src="images/frutas2.jfif" alt="jogos de tabuleiro"	class="img-fluid bannersFinais img-thumbnail">
				</section>
			</section>
		</section>
		
<!-- para incluir o footer -->
<%- include("../partials/footer"); %>